<footer>
  <div class="footer-section-container">
    <div class="footer-section">
      <h4 class="footer-section-title">Glamour Fashion</h4>
      <ul class="footer-links">
        <li>Haute coute</li>
        <li>Fashion</li>
        <li>High Jewelerry</li>
        <li>Fine Jewelerry</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="footer-section-title">Online Services</h4>
      <ul class="footer-links">
        <li>Haute coute</li>
        <li>Fashion</li>
        <li>High Jewelerry</li>
        <li>Fine Jewelerry</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="footer-section-title">Boutique Services</h4>
      <ul class="footer-links">
        <li>Haute coute</li>
        <li>Fashion</li>
        <li>High Jewelerry</li>
        <li>Fine Jewelerry</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="footer-section-title">The House Of Glamour Fashion</h4>
      <ul class="footer-links">
        <li>Haute coute</li>
        <li>Fashion</li>
        <li>High Jewelerry</li>
        <li>Fine Jewelerry</li>
      </ul>
    </div>
  </div>
</footer>