<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/login.css" />
    <title>Glamour Fashion</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>

    <main>
      <section class="login-form">
  
        <h2>Welcome!</h2>
        <p>Please login to continue.</p>
  
        <form action="/login" method="post">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
          </div>
          <button type="submit">Login</button>
        </form>
  
      </section>
    </main>

    <%- include('partials/footer.html') %>

    <script src="/script/script.js"></script>
  </body>
</html>
