<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Glamour Fashion</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>

    <div class="shop-container">
      <div class="product">
        <img src="/images/Product-img/limg1.webp" alt="" />
        <div class="product-details">
          <h4>T-shirt</h4>
          <p>$ 99.99</p>
        </div>
      </div>

      <div class="product">
        <img src="/images/Product-img/limg2.webp" alt="" />
        <div class="product-details">
          <h4>T-shirt</h4>
          <p>$ 99.99</p>
        </div>
      </div>

      <div class="product">
        <img src="/images/Product-img/limg3.webp" alt="" />
        <div class="product-details">
          <h4>T-shirt</h4>
          <p>$ 99.99</p>
        </div>
      </div>

      <div class="product">
        <img src="./assets/img/Product-img/limg4.webp" alt="" />
        <div class="product-details">
          <h4>T-shirt</h4>
          <p>$ 99.99</p>
        </div>
      </div>

      <div class="product">
        <img src="./assets/img/Product-img/limg5.webp" alt="" />
        <div class="product-details">
          <h4>T-shirt</h4>
          <p>$ 99.99</p>
        </div>
      </div>

      <div class="product">
        <img src="./assets/img/Product-img/limg6.webp" alt="" />
        <div class="product-details">
          <h4>T-shirt</h4>
          <p>$ 99.99</p>
        </div>
      </div>

      <div class="product">
        <img src="./assets/img/Product-img/limg7.webp" alt="" />
        <div class="product-details">
          <h4>T-shirt</h4>
          <p>$ 99.99</p>
        </div>
      </div>

      <div class="product">
        <img src="./assets/img/Product-img/limg8.webp" alt="" />
        <div class="product-details">
          <h4>T-shirt</h4>
          <p>$ 99.99</p>
        </div>
      </div>
    </div>

    <%- include('partials/footer.html') %>

    <script src="script.js"></script>
  </body>
</html>
