@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  display: block;
  font-family: "Raleway", sans-serif;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 100;
  background-color: white;
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 80%;
}

.short-logo {
  display: none;
  width: 100%;
  height: auto;
}

.short-logo img {
  width: 50%;
}

.category-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.35rem;
}

.category-btn {
  padding: 0.3rem;
  margin: 0.35rem;
  text-decoration: none;
  color: black;
  font-size: 1.35rem;
}

.category-btn:hover {
  background-color: black;
  color: white;
  transition: ease 0.2s;
}

.user-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0.3rem;
}

.user-nav-btn .bi-person {
  width: 1.3rem;
  height: auto;
  margin: 0.3rem;
  text-decoration: none;
  color: black;
}

.user-nav-btn .bi-bag {
  width: 1.3rem;
  height: auto;
  margin: 0.3rem;
  text-decoration: none;
  color: black;
}

.user-nav-btn:hover {
  cursor: pointer;
}

/* Main Banner */

.hero-image {
  background-image: url("./assets/img/banner_img/banner_DT.avif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.button-over-images {
  padding: 0.7rem;
  border-radius: 0%;
  border: 0;
  font-size: large;
  color: black;
}

.button-over-images:hover {
  cursor: pointer;
}

/* Selection Banner */

.selection-banner {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.selection-img {
  position: relative;
  text-align: center;
  color: white;
  flex: 50%;
  max-width: 50%;
}

.selection-img img {
  width: 100%;
  aspect-ratio: 1/1;
  transition: 0.2s;
}

.selection-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selection-banner-text a {
  color: white;
  text-decoration: none;
}

.selection-banner-text h1 {
  margin-bottom: 5px;
}

.selection-banner-text p {
  opacity: 0%;
  text-decoration: underline;
}

/* Product Page - PRODUCT DISPLAY */

.shop-container {
  margin: calc(5vh + 5%) 1%;
  display: grid;
  gap: 5rem 1.1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.product {
  width: 100%;
}

.product h4,
p {
  font-size: 15px;
  line-height: 20px;
}

.product img {
  max-width: 100%;
}

footer {
  background-color: black;
  height: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }

  .short-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .short-logo img {
    width: 40%;
  }

  header {
    width: 100%;
  }

  .user-nav {
    justify-content: end;
  }

  .category-btn {
    font-size: 1rem;
  }

  .hero-image {
    background-image: url(./assets/img/banner_img/banner_MB.avif);
  }

  .selection-img {
    flex: 100%;
    max-width: 100%;
  }

  .selection-img img {
    width: 100%;
    height: 100%;
  }

  .selection-banner-text p {
    opacity: 100%;
    text-decoration: underline;
  }

  .shop-container {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
